/* h1 {
    text-align: center;
} */

.titulo-serie{
    justify-content: center;
    display: flex;
    align-items: center;
}


.gold-badge {
    display: inline-block;
    padding: 0.2em 0.7em;
    border-radius: 12px;
    background-color: #ffd700;
    color: #333;
    font-weight: bold;
    border: 1px solid #e6c200;
    margin-left: 16px;

}

.silver-badge {
    display: inline-block;
    padding: 0.3em 0.8em;
    border-radius: 12px;
    background-color: #c0c0c0;
    color: #333;
    font-weight: bold;
    border: 1px solid #a9a9a9;
    margin-left: 16px;

}

.estandar-badge {
    display: inline-block;
    padding: 0.3em 0.8em;
    border-radius: 12px;
    background-color: #b87333;
    color: #fff;
    font-weight: bold;
    border: 1px solid #8c5a23;
    margin-left: 16px;
}

.episodios {
    max-width: 800px;
    margin: auto;
    padding: 0 20px;
}

/* Estilo para el dropdown de las temporadas */
/* Style The Dropdown Button */
.dropbtn {
  background-color: #7c4b4b;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}

.temporadas {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}

.temporada-btn {
  background-color: #7c4b4b;
  color: white;
  padding: 10px 20px;
  font-size: 14px;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s ease;
  margin-bottom: 24px;;
}

.temporada-btn:hover {
  background-color: #a05252;
}

.temporada-btn-selected {
  background-color: #a05252;
  color: white;
  padding: 10px 20px;
  font-size: 14px;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s ease;
} 

.temporada-btn-selected:hover {
  background-color: #7c4b4b;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
position: relative;
display: flex;
justify-content: center;
margin-bottom: 24px;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #d4bcbc;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f0c5c5}

/* Show the dropdown menu on hover */
.dropbtn:hover .dropdown-content {
  display: block;
  /* top: 100%; */
  /* left: 0; */
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropbtn:hover {
  background-color: #3e8e41;
}