.episodio {
  background-color: #1a1a1a;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.verCapitulo{
  background-color: #2196f3;
  color: white;
  padding: 6px 14px;
  border-radius: 6px;
  font-size: 0.95em;
  display: inline-block;
  border: none;
  cursor: pointer;
}